body {
	background-color: #99ddff;
}
#doodle-board {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
#size {
	width: 40px;
}
#doodle-board {
	background-color: #aaeeff;
}
#options  p {
	position: relative;
	left: 32.5%;
	display: inline;
	margin: 0 5px;
}
h1 {
	text-align: center;
	animation: cycleThroughColors 2.5s infinite;
}
@keyframes cycleThroughColors {
	0%, 100% {color: #00FFFF;}
	25% {color: #8000FF;}
	50% {color: #FF0000;}
	75% {color: #80FF00;}
}